
*
!*/

# track this file
# !.gitignore

# whitelist
!reframework/autorun/Journal_Notification/**
!reframework/autorun/Journal_Notification_dev.lua
!reframework/data/Journal_Notification/languages/**
!reframework/fonts/**
!assets/**
!CODE_OF_CONDUCT.md
!LICENSE
!README.md
!README_CN.md
!.github/FUNDING.yml

# blacklist
reframework/autorun/Journal_Notification/debug.lua
